# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj///備份

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll ///備份

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a ///備份
#*.lib ///備份

# Executables
*.exe
*.out
*.app
